<h2>Submit a new Monster:</h2>

<form class="" action="/monsters" method="post">
    <label for="name">Monster:</label>
    <input type="text" name="name" value="">
    <br>
    <label for="">Monster Type:</label>
    <input type="text" name="monster_type" value="">
    <br>
    <label for="weakness">Damage Weaknesses:</label>
    <input type="text" name="weakness" value="">
    <br>
    <label for="cr">Challenge Rating:</label>
    <input type="integer" name="cr" value="">
    <br>
    <input type="submit" name="" value="Submit Monster!">
</form>