<% if logged_in? %>
<h2>Submit a new Monster:</h2>

<h5 style="color:red"><%= @errors %></h5>

<form class="" action="/monsters/new" method="post">
    <label for="name">Monster:</label>
    <input type="text" name="monster[name]" value="">
    <br>
    <label for="">Monster Type:</label>
    <input type="text" name="monster[monster_type]" value="">
    <br>
    <label for="weakness">Damage Weaknesses:</label>
    <input type="text" name="monster[weakness]" value="">
    <br>
    <label for="cr">Challenge Rating:</label>
    <input type="integer" name="monster[cr]" value="">
    <br>
    <input type="hidden" name="monster[user_id]" value="<%= current_user.id%>">
    <input type="submit" value="Submit Monster">
</form>
<% else %>
<% redirect to '/login'%>
<%end%>