Hello there adventurer!
<h5 style="color:red"><%= @errors %></h5>
<form class="" action="/login" method="POST">
    <label for="character_name"> Character Name: </label>
    <input type="text" name="character_name">
    <label for="password"> Password: </label>
    <input type="password" name="password">
    <input type="submit" value="Roll initiative!">

</form>